/******* VARIABLES ***********/
main .section_1, main .section_2, main .section_3, main .section_4 {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 105px;
}

main .section_1 img, main .section_2 img, main .section_3 img, main .section_4 img {
  height: 400px;
}

main .section_1 > div > p, main .section_2 > div > p, main .section_3 > div > p, main .section_4 > div > p {
  height: 200px;
  width: 320px;
  text-align: justify;
  padding-top: 50px;
}

main .section_1 > div > h2, main .section_2 > div > h2, main .section_3 > div > h2, main .section_4 > div > h2 {
  text-align: end;
}

/******* HTML ***********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/******* HEADER ***********/
.grid-container {
  display: -ms-grid;
  display: grid;
  grid: 20px;
  grid-template: "header" 200px "main " auto "footer" 200px/auto;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.grid-container {
  background: rgba(122, 199, 199, 0.664);
}

header {
  background: white;
  grid-area: header;
}

header img {
  position: absolute;
  position: fixed;
  margin: 15px 0px 0px 80px;
  z-index: 100;
}

header nav {
  background: #01bdbe;
  border-bottom: solid 5px #0484ab;
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav > ul > li {
  display: inline-block;
  padding: 0 25px;
}

header nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

header h1 {
  padding-top: 140px;
  padding-left: 370px;
  font-size: 35px;
}

main {
  grid-area: main;
}

main .section_1 {
  background: #313131;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .section_1 > div > p {
  background: #0e0e0e;
  color: white;
}

main .section_1 > div > h2 {
  color: white;
}

main .section_2 {
  background: #ff577e;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .section_2 > div > p {
  background: #702134;
  color: white;
}

main .section_2 > div > h2 {
  color: white;
}

main .section_3 {
  background: #fad431;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .section_3 > div > p {
  background: #68560c;
  color: white;
}

main .section_3 > div > h2 {
  color: white;
}

main .section_4 {
  background: #ff642c;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .section_4 > div > p {
  background: #6d270e;
  color: white;
}

main .section_4 > div > h2 {
  color: white;
}

footer {
  grid-area: footer;
  background: #313131;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 730px) {
  main .section_1, main .section_2, main .section_3, main .section_4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
  }
  main .section_1 img, main .section_2 img, main .section_3 img, main .section_4 img {
    width: 400px;
    height: 300px;
  }
  main .section_1 > div > p, main .section_2 > div > p, main .section_3 > div > p, main .section_4 > div > p {
    width: 400px;
    height: 180px;
  }
  main .section_1 > div > h2, main .section_2 > div > h2, main .section_3 > div > h2, main .section_4 > div > h2 {
    text-align: center;
  }
  header h1 {
    padding-left: 230px;
  }
  header img {
    display: none;
  }
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 731px) and (max-width: 781px) {
  header h1 {
    padding-top: 140px;
    padding-left: 260px;
    font-size: 35px;
  }
  main .section_1 img, main .section_2 img, main .section_3 img, main .section_4 img {
    height: 260px;
  }
}

@media only screen and (min-width: 782px) and (max-width: 840px) {
  header h1 {
    padding-top: 140px;
    padding-left: 280px;
    font-size: 35px;
  }
  main .section_1 img, main .section_2 img, main .section_3 img, main .section_4 img {
    height: 290px;
  }
}
/*# sourceMappingURL=styles.css.map */