/******* VARIABLES ***********/
$color_letter:rgb(255, 255, 255);
$color_nav: rgb(1, 189, 190);
$color_nav_line: rgb(4, 132, 171);
$color_sandia: rgb(49, 49, 49);
$color_sandia_text: rgb(14,14,14);
$color_frutilla: rgb(255,87,126);
$color_frutilla_text: rgb(112,33,52);
$color_pera: rgb(250,212,49);
$color_pera_text: rgb(104,86,12);
$color_banana: rgb(255,100,44);
$color_banana_text: rgb(109,39,14);

@mixin sectionFruts($bgColor_section,$bgColor_p,$color_p_letter,$direction) {
   
        background: $bgColor_section;
        height: 60vh;
        display: flex;
        flex-direction: $direction;
        justify-content: space-around;
        padding-top: 105px;
    
        img{
            height: 400px;
        }
        > div {

            >p{
                background: $bgColor_p;
                color: $color_p_letter;
                height: 200px;
                width: 320px;
                text-align: justify;
                padding-top: 50px;
            }
            > h2{
                text-align: end;
                color: $color_p_letter;
            }
        }   
}


@mixin sectionFrut($bgColor_section,$bgColor_p,$color_p_letter,$direction) {
   
    background: $bgColor_section;
    flex-direction: $direction;

    > div {

        >p{
            background: $bgColor_p;
            color: $color_p_letter;
        }
        > h2{
            color: $color_p_letter;
        }
    }   
}

%sec{
        height: 60vh;
        display: flex;
        justify-content: space-around;
        padding-top: 105px;
    
        img{
            height: 400px;
        }
        > div {

            >p{
                height: 200px;
                width: 320px;
                text-align: justify;
                padding-top: 50px;
            }
            > h2{
                text-align: end;
            }
        }   
}

/******* HTML ***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  
}

/******* HEADER ***********/

.grid-container{
    display: grid;
    grid: 20px;
    grid-template:  'header' 200px
                    'main ' auto                         
                    'footer'200px /
                     auto;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.grid-container{
    background: rgba(122, 199, 199, 0.664);
}


header{
    background: white;
    grid-area: header;

    img{
      position: absolute; 
      position: fixed;
      margin: 15px 0px 0px 80px;
      z-index: 100;
    }

    nav{
        background: $color_nav;
        border-bottom: solid 5px $color_nav_line;
        height: 100px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;     
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        

        > ul{

            > li{
                display: inline-block;
                padding: 0 25px; 

                > a{
                    text-decoration: none;
                    color: $color_letter;
                    font-size: 20px;
                    margin-right: 25px;
                }
            }
        }
    }

    h1{
        padding-top: 140px;
        padding-left: 370px;
        font-size: 35px;
    }

}

main{
    grid-area: main;

    .section_1{
        @extend %sec;
        @include sectionFrut($color_sandia,$color_sandia_text,$color_letter,row)
    }
    
    .section_2{
        @extend %sec;
        @include sectionFrut($color_frutilla,$color_frutilla_text,$color_letter,row-reverse)
    }
    
    .section_3{
        @extend %sec;
        @include sectionFrut($color_pera,$color_pera_text,$color_letter,row)
    }
    
    .section_4{
        @extend %sec;
        @include sectionFrut($color_banana,$color_banana_text,$color_letter,row-reverse)
    }
}

footer{
    grid-area: footer;
    background: $color_sandia;
    color: $color_letter;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 730px) {
    main{
        .section_1,.section_2,.section_3,.section_4{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0px;

            img{
                width: 400px;
                height: 300px;
            }
            > div{
                >p{
                    width: 400px;
                    height: 180px;
                }
                > h2{
                    text-align: center;
                }
            }
          }
          
    }

    header{
        h1{
            padding-left: 230px;
        }
        img{
            display: none;
        }
        nav{
            justify-content: center;
        }
    }
}


@media only screen and (min-width: 731px) and (max-width: 781px) {
    header{
        
        h1{
            padding-top: 140px;
            padding-left: 260px;
            font-size: 35px;
        }
    }

    main{
        .section_1,.section_2,.section_3,.section_4{
           

            img{
                height: 260px;
            }
          }
    }
}


@media only screen and (min-width: 782px) and (max-width: 840px) {


    header{
        
        h1{
            padding-top: 140px;
            padding-left: 280px;
            font-size: 35px;
        }
    }

    main{
        .section_1,.section_2,.section_3,.section_4{


            img{
                height: 290px;
            }
          }
    }

}

@media only screen and (min-width: 1200px) {




}
